In [2]:
import re

In [2]:
text = '''

wHleo I amd Anish my no. is (977)-193-2010 and  my revenuw is 90 million rupees now, letsd use regex to find number? like 2332 a phone no. J/+  9812345671
'''
pattern = '\(\d{3}\)-\d{3}-\d{4}|\d{10}'
matches = re.findall(pattern,text)
matches

['(977)-193-2010', '9812345671']

In [4]:
summary = '''

Title 1 - About MitoChondiorio
mito chondioa is asas jaosjasdd oasoas

Title 2 - About Cellulas
cellulas asi isdij isds dj

Title 4 - About Organ
asasklndslkknd asas asas
'''
sum_pattern = 'Title \d - About ([^\n]*)'
only_title_name = re.findall(sum_pattern,summary)
only_title_name

['MitoChondiorio', 'Cellulas', 'Organ']

NLP Tutorial with Regex

In [5]:
import re

In [13]:

chat1='codebasics: Hello, I am having an issue with my order # 412889912'

chat_1_val = 'order[^\d]*([\d]*)'
gt_char1 = re.findall(chat_1_val, chat1)
gt_char1

['412889912']

In [17]:
chat2='codebasics: I have a problem with my order number is 412889912'
chat_2_val = 'order[^\d]*([\d]*)'
gt_chat_2 = re.findall(chat_2_val, chat2)
gt_chat_2

['412889912']

In [16]:
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'
pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, chat3)
matches

['412889912']

In [18]:
# Easy may to reuse functions

def get_pattern_match(pattern, text):
    matched = re.findall(pattern, text)
    if matched:
        return matched[0]

In [20]:
get_pattern_match('order[^\d]*(\d*)', chat3)

'412889912'

Now to get the email id and phone

In [26]:
chat_em1 = 'codebasics: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com'
chat_em2 = 'codebasics: here it is: (123)-567-8912, abc@xyz.com'
chat_em3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

In [27]:
get_pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-z0-9A-Z]*', chat_em1)

'abc@xyz.com'

In [28]:
get_pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-z0-9A-Z]*', chat_em2)

'abc@xyz.com'

In [29]:
get_pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-z0-9A-Z]*', chat_em3)

'abc@xyz.com'

For Phone Number

In [30]:
get_pattern_match('(\d{10})|(\(\d{3}\)-\d{3}-\d{4})',chat_em1)

('1235678912', '')

In [31]:
get_pattern_match('(\d{10})|(\(\d{3}\)-\d{3}-\d{4})',chat_em3)

('1235678912', '')

In [32]:
get_pattern_match('(\d{10})|(\(\d{3}\)-\d{3}-\d{4})',chat_em3)

('1235678912', '')

Regex for Information Extraction

In [35]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''

In [45]:
get_pattern_match('age (\d+)', text)

'50'

In [37]:
get_pattern_match('Born(.*)\n', text).strip()

'Elon Reeve Musk'

In [ ]:
get_pattern_match('Born.*\n(.*)\(age',text)

'June 28, 1971 '

In [39]:
get_pattern_match('age.*\n(.*)', text)

'Pretoria, Transvaal, South Africa'

In [46]:
def getElonData(text):
    age = get_pattern_match('age (\d+)', text)
    f_name = get_pattern_match('Born(.*)\n', text).strip()
    dob = get_pattern_match('Born.*\n(.*)\(age',text)
    location = get_pattern_match('age.*\n(.*)', text)
    
    return {
        'age': int(age),
        'name': f_name.strip(),
        'dob' : dob.strip(),
        'location': location.strip()
    }

In [47]:
getElonData(text)

{'age': 50,
 'name': 'Elon Reeve Musk',
 'dob': 'June 28, 1971',
 'location': 'Pretoria, Transvaal, South Africa'}

In [50]:
an_text = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani â€‹(m. 1985)â€‹[3]
Children	3
Parent(s)	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [51]:
getElonData(an_text)

{'age': 64,
 'name': 'Mukesh Dhirubhai Ambani',
 'dob': '19 April 1957',
 'location': 'Aden, Colony of Aden'}